@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Alexandria";
  src: url(./fonts/Alexandria-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url(./fonts/Alexandria-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alt:#0F0F0F;
  --color-accent:#9DFF3A;
  --color-light:#E5E5E5;
  --color-gray:#999999;
  --color-gray-alt:#4D4D4D;
  --color-gray-alt-dark:#2E2E2E;
  --border: 2px solid var(--color-gray-alt);
  --border-radius-small: 16px;
  --border-radius-large: 40px;
  --font-family-base: "Alexandria", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 80px;
  --input-height:40px;
  --button-height: 50px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-gray);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  color: var(--color-light);
}

h2, h3 {
  line-height: 100%;
}

h1, .h1 {
  font-size: clamp(40px, 4.4444444444vw, 64px);
  line-height: 110%;
}

h2, .h2 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
  font-weight: 400;
}

h3, .h3 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  font-weight: 400;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: var(--button-height);
  padding-inline: 24px;
  background-color: var(--color-accent);
  color: var(--color-dark);
  border-radius: 40px;
  border: 2px solid transparent;
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    transition: var(--transition-duration);
  }
  .button:hover::before {
    border-left-color: var(--color-accent); /* Цвет треугольника при наведении */
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    transition: var(--transition-duration);
  }
  .button:active::before {
    border-left-color: var(--color-accent); /* Цвет треугольника при наведении */
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-light);
}
.button--video {
  background-color: transparent;
  color: var(--color-light);
  border: var(--border);
}
.button--video::before {
  content: "";
  position: relative;
  width: 0; /* Нулевая ширина для создания треугольника */
  height: 0;
  margin-right: 15px;
  border-left: 9px solid var(--color-light); /* Цвет треугольника */
  border-top: 5px solid transparent; /* Прозрачный верх */
  border-bottom: 5px solid transparent; /* Прозрачный низ */
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 36px;
  aspect-ratio: 1;
  position: relative;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  box-shadow: 0 -6px var(--color-light), 0 6px var(--color-light);
  transition: var(--transition-duration);
}
@media (hover: hover) {
  .burger-button:hover::after {
    background-color: var(--color-accent);
    box-shadow: 0 -6px var(--color-accent), 0 6px var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active::after {
    background-color: var(--color-accent);
    box-shadow: 0 -6px var(--color-accent), 0 6px var(--color-accent);
  }
}

.header__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  font-size: 16px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 40px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
}
.header__group-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 36px;
  aspect-ratio: 1;
  position: relative;
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 7px;
  width: 60%;
  height: 2px;
  background-color: var(--color-light);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.tag {
  --tagHeight:41px;
  --paddingInlineTag:20px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-accent);
  padding-inline: var(--paddingInlineTag);
  height: var(--tagHeight);
  border: var(--border);
  border-radius: var(--border-radius-large);
}
.tag-online {
  --tagHeight:37px;
  --paddingInlineTag:12px;
}
.tag-online::before {
  width: 9px;
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-accent);
  border-radius: 50%;
  margin-right: 8px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.hero__main {
  padding: 88px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1023px) {
  .hero__main {
    padding: 40px 0;
    flex-direction: column;
  }
}
.hero__body {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 32px;
}
@media (max-width: 1023px) {
  .hero__body {
    align-items: center;
    text-align: center;
  }
}
.hero__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1023px) {
  .hero__image {
    width: 424px;
    height: 424px;
  }
}
@media (max-width: 767px) {
  .hero__image {
    width: 300px;
    height: 300px;
  }
}
.hero__partners {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  background-color: var(--color-dark-alt);
}
.hero__partners-title {
  font-size: 16px;
}
.hero__partners-list {
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 72px;
       column-gap: 72px;
  row-gap: 16px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .hero__partners-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 24px;
  }
}
@media (max-width: 767px) {
  .hero__image-partners {
    width: 97px;
    height: 23px;
  }
}

.glow {
  background-image: radial-gradient(circle at max(0%, (90vw - 900px) / 2), rgba(74, 90, 236, 0.16) 0%, rgb(0, 0, 0) clamp(200px, 32%, 300px), rgb(0, 0, 0) 100%);
}

.section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 767px) {
  .section {
    padding-block: 40px;
  }
}
.section__header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 75px;
}
@media (max-width: 767px) {
  .section__header {
    margin-bottom: 32px;
  }
}
.section__description {
  max-width: 644px;
}
@media (max-width: 767px) {
  .section__description {
    font-size: 16px;
  }
}

.features__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.features-card {
  padding: 30px 24px;
  max-width: 384px;
  min-width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark-alt);
}
@media (min-width: 1024px) {
  .features-card {
    padding: 48px 36px;
  }
}
.features-card__icon {
  color: var(--color-accent);
  margin-bottom: 36px;
}
.features-card__title {
  margin-bottom: 16px;
}
.features-card__description {
  font-size: 16px;
  line-height: normal;
}

.gray-bg {
  background-color: var(--color-dark-alt);
}

.statistics__list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 72px;
}
@media (max-width: 767px) {
  .statistics__list {
    flex-direction: column;
    gap: 24px;
  }
}
.statistics__title {
  margin-bottom: 30px;
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .statistics__title {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */